<div class="property-card" *ngIf="property">
  <div class="state">{{getStateName(property.state)}}</div>
  <div class="address">
    <div>{{property.address.street}} {{property.address.street2}}</div>
    <div>{{property.address.city}}, {{property.address.state}} {{property.address.zip}}</div>
  </div>
  <div class="facts">
    <div>{{property.facts.bedrooms}} Bed / {{property.facts.bedrooms}} Bath - {{property.facts.floorSqft}}sqft</div>
    <div>Price: {{mostRecentPrice(property) | currency : 'USD' : 'symbol' : '1.0'}}</div>
  </div>
  <div class="actions">
    <button *ngFor="let action of availableActions" (click)="onClickAction(action.id)">{{action.name}}</button>
  </div>
</div>
